<div class="center">

  <%= form_for @agent, url: change_password_path, html: { method: :put, class: "form-signin", autocomplete: "off", id: "editPasswordForm" } do |f| %>

  <%= image_tag "logo.jpg", class: "mb-4 img-logo", alt: "Veloz Cred" %>

  <%= f.hidden_field :reset_password_token %>

  <%= f.password_field :password, id: "password", autocomplete: "off", class: "form-control", placeholder: "Nova senha", required: "required", 'data-toggle': "popover", 'data-trigger': "focus", 'data-placement': "right", 'data-content': "Sua nova senha deve conter 8 ou mais caracteres e ser diferente de sua chave J." %>

  <%= f.password_field :password_confirmation, id:"password_confirmation", autocomplete: "off", class: "form-control", placeholder: "Confirmar nova senha", required: "required" %>

  <%= f.submit "Alterar senha", class: "btn btn-lg btn-primary btn-block"  %>

  <% end %>

</div>

<script type="text/javascript">
<% if not current_agent.is_changed %>
  alert("Sua senha expirou, você deve cadastrar uma nova senha.")
<% end %>
</script>
