<!-- form_for -->
<%= form_tag("/search", method: "post", id:"search") do %>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-3 col-md-12" style="padding: 2vh 5vh;">

      <div class="row h-50">
        <div class="col-md-12">
          <h3>Mês/ano</h3>
          <table class="table table-sm display responsive no-wrap" width="100%" id="anoMesTable">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="wrapper_col"><input name="year_months[]" type="checkbox" id="year_monthsAll"></td>
                <td><label for="year_monthsAll">Todos (as)</label></td>
              </tr>
              <% @year_months.each do |r| %>
              <tr>
                <td class="wrapper_col"><input name="year_months[]" type="checkbox" value="<%= r.id %>" id="<%= r.year_month %>"> </td>
                <td> <label for="<%= r.year_month %>" class="year_month" ><%= r.year_month %>  </label></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


      <!--    SO SE FOR DIRETOR     -->
      <% if current_agent.role == "Diretor" || current_agent.role == "Administrador" %>
      <div class="row h-50 mt-2">
        <div class="col-md-12">
          <h3>Cargo</h3>
          <table class="table table-sm display responsive no-wrap" width="100%" id="cargoTable">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="wrapper_col"><input name="roles[]" type="checkbox" id="rolesAll"></td>
                <td><label for="rolesAll">Todos (as)</label></td>
              </tr>
              <% @roles.each do |r| %>
              <% if r.role != "Total" %>
              <tr>
                <td class="wrapper_col">
                  <input name="roles[]" type="checkbox" value="<%= r.role %>" id="<%= r.role %>" class="role">
                </td>
                <td> <label for="<%= r.role %>" > <%= r.role %>  </label></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>



    </div>

    <div class="col-lg-3 col-md-12" style="padding: 2vh 5vh;">

      <div class="row h-50">
        <div class="col-md-12">
          <h3>Segmentos</h3>
          <table class="table table-sm display responsive no-wrap" width="100%" id="segmentoTable">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td class="wrapper_col"><input name="segments[]" type="checkbox" id="segmentsAll"></td>
                <td><label for="segmentsAll">Todos (as)</label></td>
              </tr>
              <% @segments.each do |r| %>
              <tr>                                                                      <!--r.id -->
                <td class="wrapper_col"><input name="segments[]" type="checkbox" value="<%= r.id %>" id="<%= r.segment %>"> </td>
                <td> <label for="<%= r.segment %>" > <%= r.segment %>  </label></td>
              </tr>
              <% end %>


            </tbody>
          </table>
        </div>
      </div>



      <!--    SO SE FOR DIRETOR     -->
      <% if current_agent.role == "Diretor" || current_agent.role == "Administrador" %>
      <div class="row h-50 mt-2">
        <div class="col-md-12 hid" id="regional-div">
          <h3>Regionais</h3>

          <table class="table table-sm display responsive no-wrap" width="100%" id="regionalsTable">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="wrapper_col"><input name="regionals[]" type="checkbox" id="regionalsAll"></td>
                <td><label for="regionalsAll">Todos (as)</label></td>
              </tr>
              <% @regionals.each do |r| %>
              <% if r.name != "TOTAL" %>
              <tr>
                <td class="wrapper_col"><input name="regionals[]" type="checkbox" value="<%= r.name %>" id="<%= r.name %>" class="regional"> </td>
                <td> <label for="<%= r.name %>" > <%= r.name %>  </label></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>


    </div>

    <div class="col-lg-6 col-md-12 d-flex flex-column" style="padding: 2vh 5vh; height: 90vh;">
      <h3>Agentes</h3>

      <table class="table table-sm display responsive no-wrap" width="100%" id="agentesTable">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="wrapper_col"><input name="agents[]" type="checkbox" id="agentsAll"></td>
            <td><label for="agentsAll">Todos (as)</td>
            </tr>
            <% @agents.each do |r| %>
            <% if r.role != "Regional" %>
            <% if r.role == "Gerente" %>
            <td class="wrapper_col"><input name="agents[]" type="checkbox" id="<%= r.name %>" value="<%= r.id %>" class="Gerente <%= r.regional.name %>"></td>
            <td> <label for="<%= r.name %>" > <%= r.name %>  </label></td>
            <% else %>
            <tr>
              <td class="wrapper_col"><input name="agents[]" type="checkbox" id="<%= r.name %>" value="<%= r.id %>" class="<%=r.role%>" ></td>
              <td> <label for="<%= r.name %>" > <%= r.name %>  </label></td>
            </tr>
            <% end %> <!--end if gerente  -->
            <% end %> <!--end if regional -->
            <% end %> <!--end if each -->
          </tbody>
        </table>



        <div class="row mt-auto ml-auto mr-auto">
          <div class="col-12 mt-3">
            <%= submit_tag "Produção Diaria", class: "btn btn-primary", id: "bt_diaria" %>
            <%= submit_tag "Produção Total", class: "btn btn-primary", id: "bt_total", style: "width: auto;" %>
          </div>

        </div>


      </div>



    </div>

  </div>

  <% end %>



  <script type="text/javascript">
  $(document).ready( function () {

    $('input[type="checkbox"]').prop('checked', false);




    $('#cargoTable, #regionalsTable, #anoMesTable, #segmentoTable').DataTable({
      'responsive': true,
      'paging': false,
      'info': false,
      'searching': false,
      'scrollY': '29vh',
      'scrollCollapse': true,
      "ordering": false,
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 0 ] }
      ],
      'columnDefs': [
        {'max-width': '1%', 'targets': 0}
      ],
      "language": {
        "sEmptyTable": "Nenhum registro encontrado",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ resultados por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar",
        "oPaginate": {
          "sNext": "Próximo",
          "sPrevious": "Anterior",
          "sFirst": "Primeiro",
          "sLast": "Último"
        },
        "oAria": {
          "sSortAscending": ": Ordenar colunas de forma ascendente",
          "sSortDescending": ": Ordenar colunas de forma descendente"
        }
      }


    });

    $('#agentesTable').DataTable({
      'responsive': true,
      'paging': false,
      'info': false,
      'searching': true,
      'scrollY': '60vh',
      'scrollCollapse': true,
      "ordering": false,
      "columns": [
        { "width": "5%" },
        null
      ],
      "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 0 ] }
      ],
      "language": {
        "sEmptyTable": "Nenhum registro encontrado",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ resultados por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "search": "_INPUT_",
        "searchPlaceholder": "Pesquisar...",
        "oPaginate": {
          "sNext": "Próximo",
          "sPrevious": "Anterior",
          "sFirst": "Primeiro",
          "sLast": "Último"
        },
        "oAria": {
          "sSortAscending": ": Ordenar colunas de forma ascendente",
          "sSortDescending": ": Ordenar colunas de forma descendente"
        }
      }


    });

    $('#agentesTable_filter').addClass('float-md-left');

  });
</script>
