<div class="center">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <%= image_tag("logo.jpg", class:"mb-4 logo", width: "100%", height: "72") %>

  <%= f.label :key_j, class: 'sr-only' %>
  <%= f.email_field :key_j, autofocus: true, type: 'text', id: 'inputEmail', class: 'form-control mb-2', placeholder: 'Chave J', required: 'true', maxlength: '8', style: 'text-transform: uppercase;' %>

  <%= f.label :password, for: "inputPassword", class: "sr-only" %>
  <%= f.password_field :password, autocomplete: "off", type:"password", id:"inputPassword", class:"form-control", placeholder:"Senha", required: "true" %>

  <%= f.submit "Entrar", class:"btn btn-lg btn-primary btn-block", type:"submit" %>
  <% end %>

</div>
